body {
  margin: 0;
  font-family: 'DM Sans';
  background-color: #fcfdfb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header container */
.bg-beige {
  background-color: #fcfdfb !important;
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
}

/* Brown button  */
.btn-outline-brown {
  background-color: white !important;
  color: #3b302a !important;
  border: 1px solid #3b302a !important;
}

.btn-outline-brown:hover {
  background-color: #3b302a !important;
  color: white !important;
}

/* Scrollbar styling */
.card-body {
  scrollbar-width: thin;
  scrollbar-color: #dee2e6 #fcfdfb;
}

.card-body::-webkit-scrollbar {
  width: 8px;
}

.card-body::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 10px;
}

/* Link button style */
.btn-link {
  color: #6c757d;
  font-size: 0.9rem;
}

.btn-link:hover {
  color: #495057;
  text-decoration: underline;
}

/* Card styling */
.card {
  border-radius: 12px;
}

.card-body {
  padding: 0;
}

.card-footer {
  padding: 1rem;
  border-top: 1px solid #fff;
}

/* Button group */
.btn-group .btn {
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
  line-height: 1;
}

/* Responsive */
@media (max-width: 576px) {
  .card-header h1 {
    font-size: 2rem;
  }
  .btn-dark {
    font-size: 1rem;
  }
}