html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: #fcfdfb !important;
}


#root {
  width: 100%;
  min-height: 100vh;
}


/* FULL SCREEN WRAPPER */
.bg-page {
  background: #fcfdfb !important;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}


/* HEADER (TOP BAR) */
header {
  width: 100%;
  background:#fcfdfb !important;
  border-bottom: 1px solid #e4e0dc !important;
}


.header-container {
  width: 130%;
  background:#fcfdfb !important;
  max-width: 2000px;
  margin: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
}


.back-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  border-radius: 6px;
  background: transparent;
  border: none;
  color: #262626;
  cursor: pointer;
}


.back-arrow svg {
  width: 30px;
  height: 30px;
}


.back-arrow-img {
  width: 32px;
  height: 30px;  opacity: 0.85;}


.header-subtext {
  margin-left: auto;
  color: #b9afa7 !important;
  font-style: italic;
}


/* MAIN CONTAINER */
.order-shell {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding-top: 1rem;
}


/* TABS (PILLS) */
.order-tabs .nav-link {
  background: transparent;
  border-radius: 999px;
  padding: 0.6rem 1.5rem;
  font-size: 1.05rem;
  font-weight: 600;
  color: #6e5a4a !important;
  border: 1px solid transparent;
}


.order-tabs .nav-link.active {
  background: #3b302a  !important;
  color: white  !important;
}


/* CENTER THE TABS */
.order-tabs  {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}


/* DIVIDER */
.soft-divider {
  border-color: #211f1d73 !important;
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
}


/* ORDER LIST */
.order-list {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}


/* ORDER CARD */
.order-row {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}


.order-number {
  font-size: 1.2rem;
  font-weight: 700;
}


.order-items {
  margin-top: 0.2rem;
  font-size: 0.95rem;
  color: #3c3025 !important;
}


.order-address {
  font-size: 0.9rem;
  color: #8d837c !important;
}


/* STATUS COLORS */
.status-default {
  color: #1e1e1e !important;
}


.status-success {
  color: #30a44a !important;
}


.status-danger {
  color: #c43737 !important ;
}


/* AVATAR */
.order-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #3b302a !important;
  object-fit: cover;
}


/* FOOTER (END MESSAGE) */
.footer-end {
  text-align: center;
  padding: 3rem 0;
}


.end-bear {
  width: 90px;
  opacity: 0.85;
}


.footer-small {
  color: #8d837c !important;
}


.footer-text {
  color: #8d837c !important;
}


/* RESPONSIVE FIXES */
@media (max-width: 768px) {
  .header-subtext {
    display: none;
  }
}


.img-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}


.clickable-img {
  cursor: pointer;
  width: 40px;
}




