@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    margin: 0;
    font-family: 'Plus Jakarta Sans', 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FCFDFB;
    color: #1C1C1C;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.navbar {
    background-color: #FCFDFB;
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0));
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

    .navbar .navbar-brand,
    .navbar .nav-link {
        color: #1C1C1C !important;
    }

    .navbar .nav-link:hover {
        color: #524738 !important;
    }

.card-glossy {
    background: linear-gradient(145deg, rgba(252, 253, 251, 0.95), rgba(252, 253, 251, 0.85));
    border-radius: 25px !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    border: none !important;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card-glossy:hover {
    transform: translateY(-1px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.15);
    }

.add-to-bag-btn {
    background-color: #3B302A !important;
    border-color: #3B302A !important;
    border-radius: 25px !important;
    color: white !important;
    width: 90%;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
}

    .add-to-bag-btn:hover {
        background-color: #524738 !important;
        border-color: #524738 !important;
    }

.notes-textarea {
    resize: none;
    overflow: auto;
}

    .notes-textarea::placeholder {
        color: #B3B3B3 !important;
        opacity: 1;
    }

    .notes-textarea:focus {
        outline: none !important;     
        box-shadow: none !important;  
        border-color: #ccc !important; 
    }


