/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');



body {
  padding-top: 70px; 
  margin: 0;
  font-family: 'Plus Jakarta Sans', 'DM Sans', sans-serif;
  background-color: #FCFDFB;
  color: #1C1C1C;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
